[auth]
;PUT YOUR BOT'S TOKEN BELOW
token=

[settings]
; Put the ID of the server you're in here
server_id=

; Put the role ID for your Moderator role here (to ensure that moderators can't be banned, etc)
moderator_role_id=

; Add the channel ID of the channel where you want announcements like when a new user joins
announcement_channel=

; Put the prefix you want for the bot to respond to commands here
command_prefix=!

; If you want to be able to do things like announce when a new person joins (default yes - requires Members Intents to be enabled in the developer portal for this bot)
members_intents=yes

; Up to 6 levels allowed (default is 6).
number_of_levels=6

; Create levels automatically (requires 'Manage Roles' permission).
auto_create_levels=yes

[levels]
; Put the name of each level here (or you can leave the defaults as they are)
; If number_of_levels is less than 6, the extra level names are automatically ignored.
level1=chad
level2=kilochad
level3=megachad
level4=gigachad
level5=terachad
level6=ULTIMATE CHAD

[level_ids]
; If auto_create_levels is enabled (which it is by default), then this section will be filled in automatically.
; If it is disabled, then you must manually enter the ID of each role here
; If number_of_levels is less than 6, you don't need to enter anything for the extra levels (they will be ignored)
level1=
level2=
level3=
level4=
level5=
level6=

[level_requirements]
; Put the level requirement for each level here (e.g. level2=20 requires the user to reach level 20 before they can get that level)
level1=0
level2=20
level3=50
level4=100
level5=200
level6=350